.convert-main
{
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.convert-title
{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.convert-title h1
{
    color: var(--primary-color);
    text-transform: uppercase;
}

.convert-inputs
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}

.convert-input
{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.convert-input .convert-origin
{
    font-size: 12px;
    font-weight: 600;
    color: gray;
}

.convert-input .selected
{
    color: white;
}

.convert-exchange
{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
    margin-top: 0.75rem;
}

.convert-exchange img
{
    width: 32px;
    height: 30px;
}

.convert-exchange.rotate
{
    animation: rotatefull 0.2s linear;
}

@keyframes rotatefull {
    100% {
        transform: rotate(180deg);
    }
}

.convert-currency-inputs
{
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}

.convert-currency-inputs .convert-currency-input input::placeholder
{
    color: gray;
}

.convert-currency-inputs .convert-currency-input input
{
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(127, 127, 127, 0.3);
    width: 27rem;
    font-size: 40px;
    height: 10rem;
    padding-left: 0.25rem;
    padding-right: 1rem;
}

.convert-currency-inputs .convert-currency-input input::-webkit-outer-spin-button,
.convert-currency-inputs .convert-currency-input input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

.convert-currency-inputs .convert-currency-input input:disabled
{
    background-color: white;
}

.convert-currency-inputs .convert-currency-input input:focus
{
    border-bottom: 1px solid rgba(127, 127, 127, 0.7);
    transition: 150ms ease-in-out;
}

.convert-graph-wrapper
{
    display: flex;
    justify-content: center;
}

.convert-graph
{
    margin-top: 3rem;
    width: 700px;
    max-width: 700px;
}

.convert-favourite
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    cursor: pointer;
}

.convert-mobile .convert-favourite
{
    display: none;
}

@media (max-width: 1130px)
{
    .convert-currency-inputs .convert-currency-input input
    {
        width: 24rem;
    }

}

@media (max-width: 970px)
{
    .convert-currency-inputs .convert-currency-input input
    {
        width: 20rem;
    }
}

@media (max-width: 860px)
{
    .convert-currency-inputs .convert-currency-input input
    {
        width: 17rem;
    }
}

@media (max-width: 760px)
{
    .convert-currency-inputs .convert-currency-input input
    {
        width: 14rem;
    }
}

@media (max-width: 670px)
{
    .convert-inputs
    {
        flex-direction: column;
        gap: 0;
    }

    .convert-exchange
    {
        transform: rotate(-90deg);
    }

    .convert-favourite.main
    {
        display: none;
    }

    .convert-mobile
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .convert-mobile .convert-favourite
    {
        display: block;
    }

    .convert-mobile img
    {
        width: 30px;
        height: 30px;
    }

    .convert-currency-inputs
    {
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
    }

    .convert-currency-inputs .convert-currency-input input
    {
        height: 5rem;
        font-size: 30px;
        width: 100%;
    }
}

@media (max-width: 540px)
{
    .convert-mobile
    {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .convert-main
    {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .convert-inputs
    {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .convert-input
    {
        width: 100%;
    }

    .convert-currency-inputs
    {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .convert-title h1
    {
        font-size: 1.5rem;
    }
}